<div class="new-album-form">
  {{input type="text" placeholder="Title" value=title class="title-input"}}
  {{input type="text" placeholder="Artist" value=artist class="artist-input"}}
  <button {{action 'addAlbum'}} class="submit">Submit</button>
</div>
