<p>
  These are all the albums. There are no albums other than these albums.
  <ul>
    {{#each album in model }}
      <li><img src='{{album.thumb}}'>{{#link-to 'album' album.id}}{{album.title}}{{/link-to}}</li>
    {{/each}}
  </ul>
</p>

{{outlet}}
