<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Your Collection</div>

  <!-- List group -->

  <ul class="list-group">
    {{#each album in model }}
      <li class="list-group-item"><img src='{{album.thumb}}'/>{{#link-to 'album' album.id}} <span class="albumTitle">{{album.title}}</span> {{/link-to}}</li>
    {{/each}}
  </ul>
</div>

{{outlet}}
