<div class="header">
  Rolling Bone
  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'albums'}}Albums{{/link-to}}
  {{#link-to 'artists'}}Artists{{/link-to}}
  {{#link-to 'search-input'}}Search{{/link-to}}
</div>

<hr>

<div class="container">
  {{outlet}}
</div>
