<p>
  These are all the artists. There are no artists other than these artists.
  <ul>
    {{#each artist in model}}
      <li> {{#link-to 'artist' artist.id}} {{artist.name}} {{/link-to}} </li>
    {{/each}}
  </ul>
</p>
