<p>
  Search for an artist:
</p>

<form>
  <div class="form-group">
    <label for="artist_name">Artist name</label>
    {{input value=artist_name id="artist_name"}}
  </div>

  <button class="btn btn-primary" {{action 'submit'}}>Search</button>
</form>

{{outlet}}
