<ul>
  {{#each result in model}}
    <li>
      <img src='{{result.thumb}}'>
      {{result.title}}
      <button {{action 'addToCollection'  result.id}}>Add To Collection</button>
    </li>
  {{/each}}
</ul>
